/node_modules
/public/build
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/img
/public/images
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

composer.lock

*.log
/.fleet
/.idea
/.well-known
/public/.well-known
/.vscode

# DEV config files
sftp-config.json

# Cordova
/src-cordova/platforms
/src-cordova/node_modules
/src-cordova/plugins
/public/cordova.js

# Data files
/resources/data

# translations symlinks
/lang/en/en.json
/lang/ru/ru.json
